*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  overflow-x: hidden;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Classes auxiliares*/
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

/*header*/
.header {
  background-color: black;
  padding: 8px 0;
}
.header .container {
  padding: 0 2%;
}

/*header__left*/
.header__left {
  float: left;
}

.header__logo {
  float: left;
}
.header__logo img {
  width: 100px;
  margin: 5px 0 0 0;
}

.header__menu {
  float: left;
  margin: 10px 0 0 10px;
}
.header__menu li {
  display: inline-block;
  padding: 0 10px;
}
.header__menu a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

/*header__right*/
.header__right {
  float: right;
}
.header__right i {
  color: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  margin: 0 15px;
}
.header__right a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.header__right__search {
  padding: 10px 0;
  display: inline-block;
}

/*notificacoes*/
.notificacoes {
  position: relative;
  display: inline-block;
}

.notificacoes__icon {
  width: 15px;
  height: 15px;
  font-size: 10px;
  top: -6px;
  text-align: center;
  left: 25px;
  cursor: pointer;
  border-radius: 50%;
  background-color: red;
  color: white;
  position: absolute;
}

/*banner*/
#video-destaque {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 450px;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

.banner__texto {
  padding: 80px 0 0 20px;
  z-index: 3;
  position: relative;
  color: white;
}
.banner__texto h2 {
  color: red;
  text-transform: uppercase;
  font-size: 45px;
}
.banner__texto h3 {
  margin-top: 20px;
  font-size: 30px;
}
.banner__texto p {
  margin: 18px 0 25px 0;
  font-size: 20px;
}
.banner__texto a {
  background-color: rgba(20, 20, 20, 0.7);
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 25px;
  margin-right: 10px;
}
.banner__texto a:hover {
  color: black;
  background-color: white;
}

/*vitrine*/
.vitrine {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0;
}

.vitrine__flex__box {
  width: 15%;
  height: 40%;
  margin-left: 1%;
  z-index: 4;
}
.vitrine__flex__box img {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: inline-block;
}

.vitrine__flex__box:hover {
  transform: scale(2, 2);
  transition: 1s;
  z-index: 5;
}

/*Formatacao para dispositivos mobiles*/
@media screen and (max-width: 768px) {
  .vitrine {
    text-align: center;
  }

  .vitrine__flex__box {
    width: 100%;
    margin-bottom: 10px;
  }
  .vitrine__flex__box img {
    width: 90%;
  }

  .vitrine__flex__box:hover {
    transform: none;
  }

  .banner__texto a {
    background-color: rgba(20, 20, 20, 0.7);
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    margin-right: 10px;
  }

  .header__menu {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
